@model ManualShitShop2.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<form asp-controller="Product" asp-action="Buy" method="post" asp-route-id="@Model.ProductID">
    <div class="container">
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => Model.Amount)
            </dt>
            <dd class="col-sm-10">
                <select id="AmountSelect" asp-for="Amount" asp-items="ViewBag.Stock" onchange="CalculateTotal(@Model.Price)"></select>
            </dd>
        </dl>
    </div>
    <div class="container text-center">
        @if (User.Identity.IsAuthenticated && Model.Stock > 1)
        {
            <input type="submit" class="btn btn-primary" value="Buy" /> <br />
            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.ProductID" class="btn btn-secondary">Add to cart</a><br />
        }
        else
        {
            <p>Product sold out or user not logged in</p>
        }
        <p id="TotalPrice">Total: @Model.Price $</p>
        <a asp-action="Index">Back to List</a> <br />
    </div>
</form>

<script>
    function CalculateTotal(price) {
        var select = document.getElementById("AmountSelect");
        var amount = Number(select.options[select.selectedIndex].text);
        var total = amount * price;
        document.getElementById("TotalPrice").innerHTML = "Total: " + total + " $";
    }
</script>