@model ManualShitShop2.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<form method="post" >
    <div class="container">
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                Image
            </dt>
            <dd class="col-sm-10">
                <img src="~/@Model.ImagePath" alt="No image" height="250" width="250" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => Model.Amount)
            </dt>
            <dd class="col-sm-10">
                <select id="AmountSelect" asp-for="Amount" asp-items="ViewBag.Stock" onchange="CalculateTotal(@Model.Price)"></select>
            </dd>
        </dl>
    </div>
    <div class="container text-center">
        @if (User.Identity.IsAuthenticated && Model.Stock > 0)
        {
            <input type="submit" class="btn btn-primary" value="Buy" asp-route-id="@Model.ProductID" asp-controller="Product" asp-action="BuyAsync" /> <br />
            <input type="submit" class="btn btn-secondary" value="Add to cart" asp-controller="ShoppingCart" asp-action="AddToCartAsync" asp-route-id="@Model.ProductID" onclick="AddToCart(@Model.Name)"/><br />
        }
        else
        {
            <p>Product sold out or user not logged in</p>
        }
        <p id="TotalPrice">Total: @Model.Price $</p>
        <a asp-action="Index">Back to List</a> <br />
    </div>
</form>

<script>
    function CalculateTotal(price) {
        var select = document.getElementById("AmountSelect");
        var amount = Number(select.options[select.selectedIndex].text);
        var total = amount * price;
        document.getElementById("TotalPrice").innerHTML = "Total: " + total + " $";
    }
    function AddToCart(name) {
        alert(name);
    }
</script>