@*@model List<ManualShitShop2.Models.Product>*@
@using ManualShitShop2.ViewModels
@model ProductPagingViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@foreach (var item in Model.Products)
{
    <div class="jumbotron text-center border-dark">
        @Html.DisplayFor(x => item.Name)<br />
        @Html.DisplayFor(x => item.Price)<br />
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-primary">Details</a><br />
        }
    </div>
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>

@for (int i = 1; i < Model.TotalPages + 1; i++)
{
    <a class="btn btn-primary @(i == Model.CurrentPage ? "active" : "")" asp-action="Index" asp-route-pageNumber="@(i)">@i</a>
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
