@model IEnumerable<ManualShitShop2.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@*<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { Id = Model.FirstOrDefault().ProductID }) |
                    @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { Id = Model.FirstOrDefault().ProductID})
                </td>
            </tr>
        }
    </tbody>
</table>*@
@foreach (var item in Model)
{
<div class="jumbotron text-center border-dark">
    @Html.DisplayFor(x => item.Name)<br />
    @Html.DisplayFor(x => item.Price)<br />
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.FirstOrDefault().ProductID" class="btn btn-primary">Details</a><br />
        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.FirstOrDefault().ProductID" class="btn btn-secondary">Add to cart</a>
    }
</div>
}
