@*@model List<ManualShitShop2.Models.Product>*@
@using ManualShitShop2.ViewModels
@model ProductPagingViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@foreach (var item in Model.Products)
{
    <div class="jumbotron text-center border-dark">
        @Html.DisplayFor(x => item.Name)<br />
        @Html.DisplayFor(x => item.Price)<br />
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Products.FirstOrDefault().ProductID" class="btn btn-primary">Details</a><br />
            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Products.FirstOrDefault().ProductID" class="btn btn-secondary">Add to cart</a>
        }
    </div>
}
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
    
</div>
